/* 2000px */
@media (max-width: 125em) {
  html {
    font-size: 60%;
  }
  .container {
    max-width: 145rem;
  }
  .general-shades {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
  }
  .shade {
    width: 16rem;
    margin-bottom: 2rem;
  }
}
/* ################# */
/* 944px */
@media (max-width: 59em) {
  html {
    font-size: 55%;
  }
  .nav-items {
    color: #000 !important;
    overflow: hidden;
    visibility: none;
    opacity: 0;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 0;
    height: 0;
    left: 99rem;
    top: 0;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .nav-link:link,
  .nav-link:visited {
    color: #333;
    font-size: 3rem;
  }
  .menu-box {
    display: block;
  }
}
/* ################# */
/* 700px */
@media (max-width: 40.5em) {
  .general-shades {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
/* 539.2px */
@media (max-width: 33.7em) {
  html {
    font-size: 47%;
  }
  .shade {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .ilst-box {
    height: 6rem;
    width: 6rem;
  }
  .shade div span,
  .shade div p {
    font-size: 1.5rem;
  }
}
/* ################# */
